name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: v2.4.0 # github-releases:golangci/golangci-lint
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Lint code
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
          skip-pkg-cache: true
          skip-build-cache: true

  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Unit tests
        run: |
          go test -v -race -gcflags=-l ./...
          go test -gcflags=-l -covermode=count -coverprofile=profile.cov ./...
      - name: Goveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
